@charset "UTF-8";

button {
	/*display:block;*/
	width:100px;
	height:40px;
	font-weight:bold;
	color:#0B0B61;
	/*background:url(../imagens/imagem-do-botao.png) no-repeat center center;*/
	border:ridge; 
	/*background-size: 100% 100%;*/
	background-color: #81F7F3;
	border-radius: 10px 20px;
	position: absolute;
}

#btPausa {
	margin-left: 25px;
	left: 105px;
}

#btNovo{
	left: 12px;
}

#tela {
	background:url(../imagens/Fundo-jogo.jpg) no-repeat center center;
	background-size: 100% 100%;
	width:800px; 
	height:550px;
	margin-left: 25px;
	border-style: inset;
	position: absolute;
	left: 230px;
	top: 80px;
}

#pontuacao{
	margin-top: 10px;
	color: gold;
	font-size: 50px;
	margin-left: 480px;
}

body {
	background-color: #000000;
} 

#frutinha{
	float:right;
	width: 50px;
	height: 50px;
	background:url(../imagens/AnimAngerRotate.gif) no-repeat center center;
	border-radius: 30%;
	background-size: 100% 100%;
}

.corpo1{
	float:left;
	width: 50px;
	height: 50px;
	background:url(../imagens/fundo-cobra.jpg) no-repeat center center;
	border-radius: 30%;
	background-size: 100% 100%;	
}

.cabeca{
	float:left;
	width: 50px;
	height: 50px;
	background:url(../imagens/cabeca.jpg) no-repeat center center;
	border-radius: 30%;
	background-size: 105% 105%;	
}

#pontos{
	margin-top: 10px;
	color: gold;
	font-size: 50px;
}

.time{
	margin-top: 10px;
	color: gold;
	font-size: 27px;
}

#tempoJogo{
	margin-top: 10px;
	float: left;
}

#cronometro{
	margin-top: 10px;
	margin-left: 5px;
	float: left;
}

.crono{
	margin-top: 10px;
	margin-right: 15px;
	color: gold;
	font-size: 30px;
}

#cFrutinha{
	margin-top: 10px;
	float: right;
	margin-right: 10px;

}

#cronoFrutinha{
	margin-top: 10px;
	float: right;

}